body{
    font-family: 'Roboto', sans-serif;
}
header div.superior{
    background-color: #1CD1B0;
}
header div.inferior{
    background-color: #00669F;
}
footer{
    background-color: #00669F;
}
footer p{
    color: white;
}