body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
header{
    position: fixed;
    display: inline-block;
    width: 100%;
}
header div.superior{
    background-color: #1CD1B0;
    height: 3vh;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.8em;
}
header div.superior p{
    margin: 0px;
}
header div.inferior{
    background-color: #00669F;
    height: 11vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 3vw;;
}
header div.inferior h1{
    margin: 0px;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 140vh;
    align-items: center;
}
main article{
    display: inline-block;
    height: 45vw;
    width: 25vw;
    background-color: #F3F3F3;
    text-align: center;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
}
main article img.de-fondo{
    width: 100%;
}
main article img.circular{
    position: relative;
    border-radius: 75px;
    bottom: 12%;
    box-shadow: 0px 4px 5px 1px grey;
}
footer{
    height: 5.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #00669F;
}
footer p{
    color: white;
    margin: 0px;
}